body{
    background-color: rgb(244, 244, 244);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin: 10px 0px 6px 35px;
    color: rgb(40, 40, 40);
}

h2{
    font-size: 26px;
    line-height: 32px;
    margin: 5px 0px 12px 0px;
    color: rgb(64, 64, 64);
}

ul{
    margin: 5px 0px 12px 35px;
}

.sub-ul{
    margin: 5px 0px 12px 20px;
}

li{
    font-size: 18px;
    line-height: 22px;
    margin-top: 3px;
    color: rgb(121, 121, 121);
}